// colors
$paragraph-color: hsl(217, 12%, 63%);
$active-color: hsl(216, 12%, 54%);
$accent-color: hsl(25, 97%, 53%);
$circle-background-color: hsl(213, 19%, 20%);
$header-color: hsl(0, 0%, 100%);

// fonts
$fw-bold: 700;

.grade-container {
    font-weight: $fw-bold;
    cursor: pointer;

    // dimensions
    width: 50px;
    height: 50px;
    border-radius: 100%;

    // flex
    display: flex;
    justify-content: center;
    align-items: center;

    // colors
    background-color: $circle-background-color;
    color: $active-color;

    // hover
    &:hover {
        // colors
        background-color: $accent-color;
        color: $header-color;

        // animation
        transition: 0.3s;
    }
}

// active
.grade-container_active,
.grade-container_active:hover {
    background-color: $paragraph-color;
    color: $header-color;
}